@using Newtonsoft.Json
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var BotInfo = Model.API.BotInfo;
    var value = DateTime.UtcNow - BotInfo.UpTime;
}

<main role="main">
    <header class="masthead text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <img class="masthead-avatar mb-5 rounded-circle" src="@BotInfo.Avatar" />
            <h1 class="masthead-heading text-uppercase mb-0">@BotInfo.Name</h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <p class="masthead-subheading font-weight-light mb-0">Created By 
                <img class="masthead-avatar rounded-circle" src="@BotInfo.OwnerAvatar"></> 
                @BotInfo.OwnerName</p>
        </div>
    </header>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="round-info-item">
                            <div>
                                <h1 class="masthead-heading text-uppercase text-white text-center">Guilds</h1>
                                <h1 class="masthead-heading text-white text-center">@($"{BotInfo.GuildAmount:n0}")</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="round-info-item">
                            <div>
                                <h1 class="masthead-heading text-uppercase text-white text-center">Users</h1>
                                <h1 class="masthead-heading text-white text-center">@($"{BotInfo.UserAmount:n0}")</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="round-info-item">
                            <div>
                                <h1 class="masthead-heading text-uppercase text-white text-center">Bot Latency</h1>
                                <h1 class="masthead-heading text-white text-center">@($"{BotInfo.Latency * 1000:n2}ms")</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="round-info-item">
                            <div>
                                <h1 class="masthead-heading text-uppercase text-white text-center">Bot Uptime</h1>
                                <h1 class="masthead-heading text-white text-center">@($"{StellaAPI.ToHumanReadableString(DateTime.UtcNow - BotInfo.UpTime)}") ago</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="round-info-item">
                            <div>
                                <h1 class="masthead-heading text-uppercase text-white text-center">Line of Codes</h1>
                                <h1 class="masthead-heading text-white text-center">@($"{BotInfo.CodeLines:n0}")</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <div class="round-info-item">
                            <div>
                                <h3 class="masthead-heading text-uppercase text-white text-center">Last Executed</h3>
                                <h5 class="masthead-heading text-white text-center">@{
                                        var first = BotInfo.LastCommands.FirstOrDefault();
                                        var hasData = first is not null;
                                        if (hasData)
                                        {
                                            @($"Served {first["author"]} for '{first["command"]}'")
                                        }
                                        else
                                        {
                                            @($"Bot was restarted.")
                                        }
                                    }</h5>

                                <h5 class="masthead-heading text-white text-center">@{
                                        if (hasData)
                                        {
                                           var createdAt = (DateTime) first["created_at"];
                                            @($"{StellaAPI.ToHumanReadableString(DateTime.Now - createdAt)} ago")
                                         
                                        }
                                    }
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
